body {
    text-align: center;
    font-size: 32px;
    width: 100vw;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

p {
    margin: 0;
}

@media(max-width: 720px) {
    body {
        font-size: 28px;
    }
}

@media(max-width: 640px) {
    body {
        font-size: 24px;
    }
}

@media(max-width: 500px) {
    body {
        font-size: 20px;
    }
}
